html {
  overflow-y: scroll; }
  html.overlayed {
    overflow: hidden; }
    html.overlayed body {
      overflow: hidden; }

body {
  padding: 0;
  margin: 0;
  font-family: 'PT Sans', sans-serif; }

.page-wrap {
  min-width: 300px;
  max-width: 300px;
  width: 80%;
  margin: 0 auto;
  padding: 0 10px; }

.card {
  margin: 10px 0;
  border: solid 1px #ccc;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 5px 1px;
  width: 100%; }
  .card.no-content, .card.stop-card {
    transition: opacity 0.25s ease-in;
    opacity: 1; }
    .card.no-content.hidden, .card.stop-card.hidden {
      transition: none;
      opacity: 0;
      height: 0;
      box-shadow: none;
      padding: 0;
      margin: 0;
      border: none;
      margin: -5px; }
  .card.no-content .content-wrap {
    font-size: 22px;
    color: #aaa;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px; }

.card-title {
  padding: 5px 20px;
  color: white;
  font-size: 24px; }

.card-content {
  padding: 5px 10px;
  background-color: #fafafa; }

.content-wrap {
  transition: opacity 0.125s ease-in 0.125s, height 0.125s ease-in, padding 0.125s ease-in; }
  .content-wrap.hidden {
    transition: opacity 0.125s ease-in, height 0.125s ease-in 0.125s, padding 0.125s ease-in 0.125s !important;
    height: 0 !important;
    opacity: 0;
    padding: 0 !important;
    overflow: hidden !important; }
  .content-wrap.with-border {
    border-bottom: dashed 1px #aaa;
    padding-bottom: 10px; }
    .content-wrap.with-border:last-child {
      border: none;
      padding-bottom: 5px; }
  .content-wrap.searchbox {
    padding-top: 5px;
    padding-bottom: 5px;
    height: 41px; }
  .content-wrap.geobutton {
    padding-top: 5px;
    padding-bottom: 5px; }

.stop-details {
  display: table;
  width: 100%;
  min-height: 30px;
  color: #333;
  font-size: 20px;
  cursor: pointer; }
  .stop-details .details {
    display: table-cell;
    vertical-align: middle;
    padding: 5px 10px;
    color: #333;
    font-size: 20px; }

.stop-expand {
  text-align: center;
  cursor: pointer;
  background-image: url(angle-down.png);
  background-repeat: no-repeat;
  height: 10px;
  background-size: 16px;
  background-position-x: 50%; }

.expanded .stop-expand {
  background-image: url(angle-up.png); }

.panel {
  text-align: center; }
  .panel .button {
    width: 40%;
    display: inline-block;
    text-align: center;
    color: white;
    font-size: 20px;
    padding: 5px;
    margin: 5px 2.5%;
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 5px 1px;
    border: solid 1px #ccc;
    cursor: pointer; }
    .panel .button.disabled {
      opacity: 0.5;
      cursor: default; }

.search {
  width: 100%;
  height: 40px;
  padding: 5px 10px 5px 10px;
  font-size: 24px;
  border: none;
  border-radius: 0;
  background-color: #fafafa; }

.geolocator {
  margin-top: 10px; }

.search-card {
  overflow: hidden; }
  .search-card.geolocated .searchbox {
    transition: opacity 0.125s ease-in, height 0.125s ease-in 0.125s, padding 0.125s ease-in 0.125s !important;
    padding: 0;
    height: 0;
    opacity: 0;
    overflow: hidden; }
  .search-card.geolocated .on {
    left: -105% !important; }
  .search-card.geolocated .off {
    left: 1% !important; }
  .search-card .panel.geobuttons {
    position: relative;
    height: 48px; }
    .search-card .panel.geobuttons .button {
      transition: left 0.125s ease-in 0.25s;
      width: 90%;
      position: absolute;
      top: 0; }
      .search-card .panel.geobuttons .button.on {
        left: 1%; }
      .search-card .panel.geobuttons .button.off {
        left: 105%; }

.short-details {
  height: 90px;
  padding: 5px 11px 10px 11px;
  position: relative; }
  .short-details.loading ul {
    opacity: 0; }
  .short-details.loading .overlay.loading {
    display: block; }
  .short-details.reloading .overlay.reloading {
    display: block; }
  .short-details.empty .overlay.empty {
    display: block; }
  .short-details.see-more .overlay.see-more {
    display: block; }
  .short-details .overlay {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0; }
    .short-details .overlay.loading {
      background-image: url(loading.gif);
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: 15%; }
    .short-details .overlay.reloading {
      width: 20px;
      height: 20px;
      left: 2px;
      top: -4px;
      right: auto;
      bottom: auto;
      background-image: url(reloading.gif);
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: 100%;
      background-color: rgba(200, 200, 200, 0.7);
      border-radius: 10px; }
    .short-details .overlay.see-more {
      width: 20px;
      height: 20px;
      left: auto;
      top: auto;
      right: 4px;
      bottom: 8px;
      background-image: url(arrow-right.png);
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: 100%;
      background-color: rgba(200, 200, 200, 0.7);
      border-radius: 10px;
      animation: see-more 1s infinite;
      -webkit-animation: see-more 1s infinite; }
    .short-details .overlay.empty {
      color: #aaa;
      font-size: 30px;
      text-align: center;
      padding-top: 35px; }
  .short-details ul {
    list-style: none;
    padding: 0;
    margin: 0;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
    transition: opacity 0.125s ease-in; }
    .short-details ul li {
      display: inline-block;
      border: solid 1px #ddd;
      text-align: center;
      width: 59px;
      cursor: pointer;
      margin-right: 4px; }
      .short-details ul li:last-child {
        margin-right: 0; }
      .short-details ul li .transport-title {
        color: white;
        padding: 1px 3px;
        font-size: 10px; }
      .short-details ul li .transport-number {
        padding: 5px 0;
        font-size: 30px;
        font-weight: bold; }
      .short-details ul li .transport-estimate {
        font-size: 14px;
        font-weight: bold;
        margin: 0 5px;
        border-top: solid 1px #ddd; }

.large-transport-card-overlay {
  transition: opacity 0.125s ease-in;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 1; }
  .large-transport-card-overlay.hidden {
    transition: opacity 0.125s ease-in 0.125s;
    opacity: 0; }

.large-transport-card {
  transition: all 0.125s ease-in-out 0.125s;
  background-color: #fafafa;
  border: solid 1px #444;
  box-shadow: rgba(0, 0, 0, 0.3) 0 0 10px 5px;
  position: fixed;
  z-index: 101;
  width: 250px;
  margin-left: -125px;
  margin-bottom: -200px;
  left: 50%;
  bottom: 50%;
  cursor: pointer; }
  .large-transport-card.hidden {
    transition: all 0.125s ease-in-out;
    opacity: 0;
    bottom: 100%;
    margin-bottom: 0; }
  .large-transport-card .transport-title {
    color: white;
    text-align: center;
    font-size: 24px;
    padding: 3px 0; }
  .large-transport-card .transport-number {
    text-align: center;
    font-weight: bold;
    font-size: 130px;
    margin: 0; }
  .large-transport-card .transport-estimate {
    margin: 0 15px;
    border-top: solid 1px #ddd;
    padding: 5px 0;
    text-align: center;
    font-size: 24px; }
  .large-transport-card .transport-marker, .large-transport-card .transport-route {
    border-top: dashed 1px #ddd;
    margin: 0 30px;
    text-align: center;
    padding: 5px 0; }
  .large-transport-card .transport-route {
    margin-bottom: 20px; }
  .large-transport-card .transport-details {
    color: #aaa;
    text-align: right;
    padding-right: 10px; }

.rail .transport-title {
  background-color: #c9302c; }

.rail .transport-number {
  color: #c9302c; }

.bus .transport-title {
  background-color: #eea236; }

.bus .transport-number {
  color: #eea236; }

.trol .transport-title {
  background-color: #2e6da4; }

.trol .transport-number {
  color: #2e6da4; }

.green {
  background-color: #5cb85c; }
  .green.button:hover {
    background-color: #4cae4c; }
  .green.button.disabled:hover {
    background-color: #5cb85c; }

.yellow {
  background-color: #eea236; }
  .yellow.button:hover {
    background-color: #ec971f; }
  .yellow.button.disabled:hover {
    background-color: #eea236; }

.red {
  background-color: #c9302c; }
  .red.button:hover {
    background-color: #ac2925; }
  .red.button.disabled:hover {
    background-color: #c9302c; }

.blue {
  background-color: #2e6da4; }
  .blue.button:hover {
    background-color: #286090; }
  .blue.button.disabled:hover {
    background-color: #2e6da4; }

.cyan {
  background-color: #46b8da; }
  .cyan.button:hover {
    background-color: #31b0d5; }
  .cyan.button.disabled:hover {
    background-color: #46b8da; }

@keyframes see-more {
  0%, 100% {
    right: 0px; }
  50% {
    right: 8px; } }

@-webkit-keyframes see-more {
  0%, 100% {
    right: 0px; }
  50% {
    right: 8px; } }
