html {
  overflow-y: scroll;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'PT Sans', sans-serif;
}

.page-wrap {
  padding: 0;
  min-width: 300px;
  max-width: 300px;
  width: 80%;
  margin: 0 auto;
  padding: 0 10px;
}

.card {
  margin: 10px 0;
  border: solid 1px #ccc;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 5px 1px;
  width: 100%;

  &.no-content, &.stop-card {
    transition: opacity 0.25s ease-in;
    opacity: 1;

    &.hidden {
      transition: none;
      opacity: 0;
      height: 0;
      box-shadow: none;
      padding: 0;
      margin: 0;
      border: none;
      margin: -5px;
    }
  }

  &.no-content {
    .content-wrap {
      font-size: 22px;
      color: #aaa;
      text-align: center;
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
}

.card-title {
  padding: 5px 20px;
  color: white;
  font-size: 24px;
}

.card-content {
  padding: 5px 10px;
  background-color: #fafafa;
}

.content-wrap {
  transition: opacity 0.125s ease-in 0.125s, height 0.125s ease-in, padding 0.125s ease-in;

  &.hidden {
    transition: opacity 0.125s ease-in, height 0.125s ease-in 0.125s, padding 0.125s ease-in 0.125s !important;
    height: 0 !important;
    opacity: 0;
    padding: 0 !important;
    overflow: hidden !important;
  }

  &.with-border {
    border-bottom: dashed 1px #aaa;
    padding-bottom: 10px;

    &:last-child {
      border: none;
      padding-bottom: 5px;
    }
  }

  &.searchbox {
    padding-top: 5px;
    padding-bottom: 5px;
    height: 41px;
  }

  &.geobutton {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

.stop-details {
  display: table;
  width: 100%;
  min-height: 30px;
  color: #333;
  font-size: 20px;
  cursor: pointer;

  .details {
    display: table-cell;
    vertical-align: middle;
    padding: 5px 10px;
    color: #333;
    font-size: 20px;
  }
}

.stop-expand {
  text-align: center;
  cursor: pointer;
  background-image: url(angle-down.png);
  background-repeat: no-repeat;
  height: 10px;
  background-size: 16px;
  background-position-x: 50%;
}

.expanded {
  .stop-expand {
    background-image: url(angle-up.png);
  }
}

.panel {
  text-align: center;

  .button {
    width: 40%;
    display: inline-block;
    text-align: center;
    color: white;
    font-size: 20px;
    padding: 5px;
    margin: 5px 2.5%;
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 5px 1px;
    border: solid 1px #ccc;
    cursor: pointer;

    &.disabled {
      opacity: 0.5;
      cursor: default;
    }
  }
}

.search {
  width: 100%;
  height: 40px;
  padding: 5px 10px 5px 10px;
  font-size: 24px;
  border: none;
  border-radius: 0;
  background-color: #fafafa;
}

.geolocator {
  margin-top: 10px;
}

.search-card {
  overflow: hidden;

  &.geolocated {
    .searchbox {
      transition: opacity 0.125s ease-in, height 0.125s ease-in 0.125s, padding 0.125s ease-in 0.125s !important;
      padding: 0;
      height: 0;
      opacity: 0;
      overflow: hidden;
    }

    .on {
      left: -105% !important;
    }

    .off {
      left: 1% !important;
    }
  }

  .panel.geobuttons {
    position: relative;
    height: 48px;
    
    .button {
      transition: left 0.125s ease-in 0.25s;
      width: 90%;
      position: absolute;
      top: 0;

      &.on {
        left: 1%;
      }

      &.off {
        left: 105%;
      }
    }
  }
}

.short-details {
  height: 90px;
  padding: 5px 11px 10px 11px;
  position: relative;

  &.loading {
    ul {
      opacity: 0;
    }

    .overlay.loading {
      display: block;
    }
  }

  &.empty {
    .overlay.empty {
      display: block;
    }
  }

  .overlay {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

    &.loading {
      background-image: url(loading.gif);
      background-repeat: no-repeat;
      background-position: 50% 50%;
      background-size: 15%;
    }

    &.empty {
      color: #aaa;
      font-size: 30px;
      text-align: center;
      padding-top: 35px;
    }
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
    transition: opacity 0.125s ease-in;

    li {
      display: inline-block;
      border: solid 1px #ddd;
      text-align: center;
      width: 59px;

      &.rail {
        .transport-title {
          background-color: #c9302c;
        }

        .transport-number {
          color: #c9302c;
        }
      }

      &.bus {
        .transport-title {
          background-color: #eea236;
        }

        .transport-number {
          color: #eea236;
        }
      }

      &.trol {
        .transport-title {
          background-color: #2e6da4;
        }

        .transport-number {
          color: #2e6da4;
        }
      }

      .transport-title {
        color: white;
        padding: 1px 3px;
        font-size: 10px;
      }

      .transport-number {
        padding: 5px 0;
        font-size: 30px;
        font-weight: bold;
      }

      .transport-estimate {
        font-size: 14px;
        font-weight: bold;
        margin: 0 5px;
        border-top: solid 1px #ddd;
      }
    }
  }
}

.green {
  background-color: #5cb85c;

  &.button:hover {
    background-color: #4cae4c;
  }
  &.button.disabled:hover {
    background-color: #5cb85c;
  }
}

.yellow {
  background-color: #eea236;
  &.button:hover {
    background-color: #ec971f;
  }
  &.button.disabled:hover {
    background-color: #eea236;
  }
}

.red {
  background-color: #c9302c;
  &.button:hover {
    background-color: #ac2925;
  }
  &.button.disabled:hover {
    background-color: #c9302c;
  }
}

.blue {
  background-color: #2e6da4;
  &.button:hover {
    background-color: #286090;
  }
  &.button.disabled:hover {
    background-color: #2e6da4;
  }
}

.cyan {
  background-color: #46b8da;
  &.button:hover {
    background-color: #31b0d5;
  }
  &.button.disabled:hover {
    background-color: #46b8da;
  }
}

// .find-stop {
//   width: 100%;
//   height: 40px;
//   padding: 5px 45px 5px 10px;
//   font-size: 24px;
//   border: none;
//   border-radius: 0;
// }

// .search-wrap {
//   border: solid 1px #428fec;
//   position: relative;
//   overflow: hidden;
// }

// .geolocator-wrap {
//   display: none;
//   position: absolute;
//   height: 40px;
//   width: 100%;
//   padding: 5px 5px 5px 100px;
//   color: #777;
//   font-size: 24px;
//   background-color: #ddd;
//   top: 0px;
//   left: 260px;
//   transition: 0.25s ease-in-out;

//   &.standby {
//     opacity: 0.3;
//   }

//   &.opened {
//     left: 0px;
//   }

//   .geolocator {
//     height: 40px;
//     width: 40px;
//     left: 0;
//     top: 0;
//     position: absolute;
//     cursor: pointer;
//     background-image: url("geolocator.png");
//     background-repeat: no-repeat;
//     background-size: 100%;
//     border: none;
//     background-color: #4098d3;
//     color: #fff;
//     background-image: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 50%, rgba(255,255,255,0.5) 51%);

//     img {
//       width: 32px;
//       height: 32px;
//       margin: 4px;
//     }
//   }
// }

// .item {
//   padding: 10px 10px;
//   border-bottom: solid 1px #ddd;

//   &.transport-top {
//     display: none;

//     .reload {
//       width: 100%;
//       height: 50px;
//       font-size: 24px;
//       border-radius: 0;
//       background-color: #428fec;
//       color: white;
//       border: none;
//       cursor: pointer;
//     }
//   }

//   &.stop {
//     cursor: pointer;

//     &.current-stop {
//       display: none;
//     }

//     .name {
//       font-size: 22px;
//     }

//     .subname {
//       color: #777;
//       font-size: 14px;
//     }
//   }

//   &.transport {

//     &.bus {
//       color: #ffba00;
//       .icon {
//         background-position-y: -9%;
//       }
//     }

//     &.rail {
//       color: #d30000;
//       .icon {
//         background-position-y: 94%;
//       }
//     }

//     &.trol {
//       color: #0000ff;
//       .icon {
//         background-position-y: 45%;
//       }
//     }

//     .est {
//       display: inline-block;
//       position: relative;
//       width: 35px;
//       float: left;
//       text-align: center;
//       margin-right: 10px;
//       padding-top: 40px;

//       .icon {
//         position: absolute;
//         width: 32px;
//         height: 32px;
//         left: 2px;
//         top: 3px;
//         overflow: hidden;
//         background-image: url("transport.png");
//         background-repeat: no-repeat;
//         background-size: 100%;
//       }

//       .est-time {
//         font-size: 24px;
//       }
//     }

//     div.route {
//       text-align: right;
//       margin-bottom: 10px;
//       padding-bottom: 10px;
//       border-bottom: dashed 1px #ddd;
//       margin-left: 40px;
//       min-height: 40px;

//       .number {
//         display: inline-block;
//         float: left;
//         font-size: 30px;
//         margin-right: 10px;
//         padding-top: 2px;
//       }

//       span.route {
//         color: #777
//       }
//     }

//     .spec {
//       margin-left: 40px;
//       text-align: right;
//       color: #777;
//       font-size: 12px;
//     }

//     .marker {
//       text-align: right;
//       color: #777;
//       font-size: 12px;
//     }
//   }

//   &.empty {
//     color: #777;
//     text-align: center;
//   }

// }
